@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

@layer base {
  :root {
    --background: 200.4 99% 100%;
    --foreground: 200.4 5% 10%;
    --card: 200.4 50% 100%;
    --card-foreground: 200.4 5% 15%;
    --popover: 200.4 99% 100%;
    --popover-foreground: 200.4 99% 10%;
    --primary: 200.4 98% 39.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200.4 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 162.4 30% 95%;
    --muted-foreground: 200.4 5% 40%;
    --accent: 162.4 30% 90%;
    --accent-foreground: 200.4 5% 15%;
    --destructive: 0 99% 50%;
    --destructive-foreground: 200.4 5% 100%;
    --border: 200.4 30% 82%;
    --input: 200.4 30% 50%;
    --ring: 200.4 98% 39.4%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 200.4 10% 5%;
    --foreground: 200.4 0% 90%;
    --card: 200.4 0% 0%;
    --card-foreground: 200.4 0% 90%;
    --popover: 200.4 10% 5%;
    --popover-foreground: 200.4 0% 90%;
    --primary: 200.4 98% 39.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200.4 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 162.4 10% 15%;
    --muted-foreground: 200.4 0% 60%;
    --accent: 162.4 10% 15%;
    --accent-foreground: 200.4 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 200.4 0% 90%;
    --border: 200.4 20% 18%;
    --input: 200.4 20% 18%;
    --ring: 200.4 98% 39.4%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
